{% extends "home/base.html" %}
{% block title %}
	<title>Login</title>
{% endblock title %}
{% block content %}
<br>
<div class="container" style="background-color: rgba(20, 202, 44, 0.884); width: 300px;">
	<br>
	<form style="margin-left:  10px;">
		<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
			<li class="nav-item" role="presentation">
			  <a
				class="nav-link active"
				id="ex2-tab-1"
				data-mdb-toggle="tab"
				href="{% url 'ghms-login-pat' %}"
				role="tab"
				aria-controls="ex2-tabs-1"
				aria-selected="true"
				>Patient</a
			  >
			</li>
			<li class="nav-item" role="presentation">
			  <a
				class="nav-link"
				id="ex2-tab-2"
				data-mdb-toggle="tab"
				href="{% url 'ghms-login-doc' %}"
				role="tab"
				aria-controls="ex2-tabs-2"
				aria-selected="false"
				>Doctor</a>
			</li>
		</ul>
		<div class="tab-content" id="ex2-content">
			<div
			  class="tab-pane fade show active"
			  id="ex2-tabs-1"
			  role="tabpanel"
			  aria-labelledby="ex2-tab-1"
			>
				<div class="row mb-3">
					<label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" id="inputEmail3">
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="inputPassword3">
					</div>
				</div>
				<div class="col-auto" >
					<button type="submit" class="btn btn-primary mb-3" style="background-color: cornflowerblue; margin-left: 200px; color: rgb(241, 241, 241);">Login</button>
				</div>
			</div>
			<div
			  class="tab-pane fade"
			  id="ex2-tabs-2"
			  role="tabpanel"
			  aria-labelledby="ex2-tab-2"
			>
			<div class="row mb-3">
				<label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="inputEmail3">
				</div>
			</div>
			<div class="row mb-3">
				<label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="inputPassword3">
				</div>
			</div>
			<div class="col-auto" >
				<button type="submit" class="btn btn-primary mb-3" style="background-color: cornflowerblue; margin-left: 200px; color: rgb(241, 241, 241);">Login</button>
			</div>
			</div>
		</div>
		<br>
		<div class="border-top-pt3">
			<small class="text-muted">
				Not Registered? <a class="ml-2" href="{% url 'ghms-register' %}">Sign Up</a>
			</small>
		</div>
	</form>
</div>
{% endblock content %}